header{
    position:fixed;width: 100%;
    z-index: 100;
    /* background-color:rgba(28,28,28,0.8); */
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
@-moz-document url-prefix() {
    header{
        background-color:rgba(28,28,28,0.8);
    }
}
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    column-gap: 20px;
}
.sandwich{
    display:none;
}
@media screen and (max-width:1024px) {
    .sandwich{
        display:inline-flex;
        flex-direction:column;
        justify-content: center;
        row-gap:3px;
        height:20px;
        width: 20px;
        cursor: pointer;
        /* background-color:red */
    }
    .sandwich .line{
        border-color:var(--white);
        transition: all 0.2s ease-out
    }
    .active .sandwich .line:nth-child(1){
        transform: rotate(45deg)  translateX(3.5px) translateY(3.5px);
    }
    .active .sandwich .line:nth-child(3){
        transform: rotate(-45deg) translateX(3.5px) translateY(-3.5px);
    }
    .active .sandwich .line:nth-child(2){
        opacity: 0;
    }
    .line {
        margin: 0 auto;
    }
    .navigation-inner{
        position:absolute;
        width: 100%;
        left: 0;
        top: 100%;
        height:0vh;
        overflow:hidden;
        transition: height 0.5s ease-out;
        background-color:rgba(28,28,28,0.8);
    }
     .navigation{
        padding:40px;
        box-sizing: border-box;
        max-height: 100%;
        overflow-y: auto;
    }
     .navigation__list{
        width: 80%;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .active .navigation-inner{
        
        height: 100vh;
        max-height:calc(100vh - 100%)
        /* background-color:rgba(28,28,28,0.8); */
    }
    /* .navigation-wrapper{} */
}
.man__photo{
    position: absolute; height: 100%; width: 100%; 
    top: 0;
    left: 0%;
}
.man__photo img{
    max-width: 100%;
}
.man__photo img:nth-child(1){
    position:absolute;
    left: 0;
    top: 0;
    width: 55%;
    object-fit: contain; mix-blend-mode: lighten; 
}
.man__photo img:nth-child(2){
    object-fit: contain; position:absolute; 
    top: 60%;
    left:55%;
    transform:translate(-50%,-50%);
    width: 39%;
}

.logo{
    padding:14px 0
}
.logo__link{
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    text-decoration: none;

    color: var(--white);

    
}
.navigation__list{
    display: flex;
    column-gap: 36px;
}
.navigation__list .navigation__item{
    list-style: none;
}
.navigation__list .navigation__item .navigation__link{
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

    text-decoration: none;

    color: var(--white);

    opacity:0.6
}


.banner-wrapper{
    position: relative;
    width: 100%;
    max-width: 1440px;
    padding:0 114px;
    margin: 0 auto;
}
@media screen and (max-width:1024px){
    .banner-wrapper{
        padding:0 20px;
    }
    
    .man__photo img:nth-child(2){
        top: 15%;
        left:40%;
        width: 65%;
        transform:none
    }
}
@media screen and (max-width:675px) {
    .banner-content__logo-wrap img{
        max-width: 68px;
        height:auto;
    }
    .man__photo img:nth-child(1){
        width: 80%;
    }
    .man__photo img:nth-child(2){
        width: 65%;
        top: 20%;
        left:50%;
    }
    
}

.banner-content{
    position: relative;
}
.banner-content:nth-child(2){
   display:flex;
   align-items: center;
}
.banner {
    height:calc(100vh);
    min-height: 800px;
    box-sizing: border-box;
    display:grid;
    grid-template-columns: 55% auto;
}
.banner__number{
    display: block;
    padding-top:calc(83px + 64px );
    font-family: var(--font-third) ;
    font-style: normal;
    font-weight: 400;
    font-size: 220px;
    line-height: 160px;
    text-transform: uppercase;
    color:transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #A9997A;
}
.banner__contats{
    position: absolute;
    bottom: 32px;
    right: 0;
    display: flex;
    flex-direction: column;
    row-gap: 21px;
}
.banner__contacts__link{
    position: relative;
    width: 170px;
    padding: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-family: var(--font-first) ;
    color: var(--white);
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    border: 1px solid transparent;
    transition: all 0.2s ease-out;
}
.banner__contacts__link svg{
    position: absolute;
    left: 20px;
    top: 50%;
    transform:translateY(-50%)
}
/* .banner__contacts__link:nth-child(1):hover{
    border: 1px solid var(--white);
    background: transparent;
    box-sizing: border-box;
}
.banner__contacts__link:nth-child(2):hover{
    border: 1px solid var(--white);
    box-sizing: border-box;
} */
.banner-content__inner{
    text-align: center;
    position: relative;
}
.banner-content__inner::before{
    /* content: ''; */
    position: absolute;
    width: 100%;
    padding-top: 100%;
    left: -60%;
    top: -15%;
    /* background-color:red; */
    background: url('../svg/img1svg.svg') no-repeat center center;
    background-size: 100%;
    z-index: -1;
}
.banner__title{
    font-family: var(--font-third);
    font-style: normal;
    font-weight: 400;
    font-size: 7.9vw;
    /* font-size: 550%; */
    line-height: 0.6;
    text-transform: uppercase;
    color: var(--yellow);
    
}
.banner__title span{
    font-family: var(--font-third);
    font-style: normal;
    font-weight: 400;
    font-size: 9.3vw;
    /* font-size: 100%; */
    line-height: 0.8;
    text-transform: uppercase;
    color: var(--dark-yellow)
}
.banner__paragraph{
    font-family: var(--font-first);
    text-transform: uppercase;
    font-size: 3.2vw;
    /* font-size: 315%; */
    /* font-size: calc(  ); */
    line-height: 0.8;
    color: rgba(229, 187, 122, 0.5);
}
.banner-content__logo-wrap{
    margin-bottom:29px;
}
@media screen and (max-width:1024px){
    .banner-content__logo-wrap{
        text-align:right
    }
    .banner {
        padding-top: 31vw;
        height:auto;
        min-height:700px;
        grid-template-columns: auto;
        display:flex;
        flex-direction: column-reverse;
        row-gap:89px;
        justify-content: start;
    }
    .man__photo{
        /* display:none; */
    }
    .banner__number{
        position:absolute;
        top: 0;
        left:0;
        padding-left:16px;
        /* padding-left:5vw; */
        padding-top:64px;
        /* font-size: 100px; */
        font-size: 15.5vw;
         /* font-size: 100px; */
        /* line-height: 73px; */
        line-height:0.73;
    }
    
    .banner__contats{
        position: relative;
        align-items:center
    }
    .banner-content{
        position:static
    }
    .banner-content:nth-child(2){
        justify-content:center
    }
    .banner__paragraph{
        font-size: 7.7vw;
    }
    .banner__title{
        font-size:18.6vw
    } 
    .banner__title span{
        font-size:21.6vw
    }
}
@media screen and (max-width:660px){
    .banner__number{
        
        font-size: 100px;
    }
}
@media screen and (max-width:622px) {
    .banner {
        padding-top: 160px;
    }
}
/* INFO */
.info-section{
    /* padding-top:160px; */
    padding-top:11vw;
}
.info{
    min-height: 768px;
    column-gap: 20px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
}
.info__content-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info__content-block__img-inner{
    position: relative;
    z-index: -1;
}
.info__content-block__img-wrapper{
    position: relative;
    width: 66.12%;
    display: flex;
}
.info__content-block__img-wrapper.left:before{
    content: "";
    position: absolute;
    width: 145%;
    height: 145%;
    background-image: url('../svg/img3bg.svg');
    background-repeat: no-repeat;
    background-size:contain;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: -8;
}
.info__content-block__img{
    width: 100%;
    mix-blend-mode: lighten;
}
.info__content-block__content-wrapper{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: flex-end;
    position: relative;
    min-height:90px;
}

.info__content-block__content{
    margin-top: -55px;
    margin-right: -7%;
    flex-basis: 40%;
    padding-left:35px;
    box-sizing: border-box;
}
.info__content-block__content-title{
    position: relative;
    display: inline-block;
    font-family: var(--font-third);
    font-weight: 400;
    font-size: var(--large);
    line-height: 38px;
    padding-bottom: 15px;
    color: var(--yellow)
}
.info__content-block__content-title:before{
    content:"";
    position:absolute;
    width: 110%;
    height:34px;
    bottom:8px;
    left: 50%;
    transform:translateX(-50%);
    border: 1px solid var(--yellow);
    z-index: -1;
}
.info__content-block__content-paragraph{
    font-family: var(--font-second);
    font-weight: 400;
    font-size: var(--small);
    line-height: 21px;
}
.info__content-block__content-wrapper .banner__contacts__link{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform:translateX(-50%)
}

.info__content-block__right-inner{
    position: relative;
    width: 70.7%;
}
.info__content-block__right-inner:before{
    content: "";
    background-image: url('../svg/img4bg.svg');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding:95px;
    z-index: -1;
}
.info__content-block__right-inner__title{
    position: relative;
    width: 102%;
    left:-2%;
    display: inline-block;
    font-family: var(--font-third);
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 38px;
    color: #BD9B68;
    text-transform: uppercase;
}
.info__content-block__right-inner__title:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 11px;
    background-color: #2E2D2D;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;

}
.info__content-block__right-inner__paragraph{
    padding-top: 27px;
    font-family: var(--font-second);
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
}
.info__content-block__right-inner{
    /* margin-top:-100px; */
}
.info__content-block__img-wrapper.right{
    /* margin-top:-400px; */
    width: 100%;
    position: relative;
    /* height: calc(350px - 3vw )  ; */
    height: 24.6vw;
}
.info__content-block__img-wrapper.right .info__content-block__img{
    position: absolute;
    width: 86%;
    top: -110%;
    left: 19%;
    /* width: 100% */
    /* margin-left: 19%; */
    /* width: calc(100%+ 19% ) ; */
    /* height:100%; */
}
@media screen and (max-width:1024px){
    .info{
        grid-template-columns: auto;
    }
    .info.container{
        padding:0
    }
    .info__content-block__img-wrapper.right{
        display:none
    }
    .info__content-block__content-wrapper .banner__contacts__link {
        position:static;
        transform:unset;
    }
    .info__content-block__content-wrapper{
        flex-direction: column-reverse;
        justify-content:usnet;
        align-items: center;
        row-gap:30px;
    }
    .info__content-block__content{
        margin-top:-65px;
        padding-left: 0;
    }
    .info__content-block__content{
        width: 50%;
        text-align: center;
        margin-right:0;
    }
    .info__content-block{
        padding-bottom: 90px;
    }
    .info__content-block__img-wrapper{
        width: unset;
    }
    .info__content-block__right-inner{
        width: unset;
        padding: 0 20px;
        text-align: center;
    }
    .info__content-block__right-inner__title{
        width: 100%;
        left:0;
    }
}
@media screen and (max-width:430px) {
    .info__content-block__img-wrapper{
        width: 100%;
    }
    .info__content-block__img-inner{
        width: 100%;
    }
}
@media screen and (max-width:390px) {
    .info__content-block__content{
        width: 80%
    }
}
@media screen and (min-width:1440px) {
    .info__content-block__img-wrapper.right{
        height:350px;
    }
    .info-section{
        padding-top:160px;
        /* padding-top:11vw; */
    }
    
}

/* about */

.about-wrapper{
    padding-bottom: 148px ;
}
.about{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 42px;
    
}
.about__content-inner{
    position: relative;
    text-align:right;
}
/* .about:before{
    content:"";
    position: absolute;
    width: calc(50% + 95px);
    height:100%;
    left: -114px;
    bottom:-225px;
    background-image: url('../img/img4.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
    mix-blend-mode: lighten;
    opacity: 0.7;
    z-index: -2;
} */
.about__photo-container{
    position: absolute;
    /* width: calc(100% + 114px); */
    width: calc(50% + 95px);
    height:100%;
    left: -114px;
    bottom:-225px;
    mix-blend-mode: lighten;
    display: inline-flex;
    align-items: flex-end
    }
.about__photo-wrapper{
    /* z-index: -1; */
    position: relative;
}

.about__photo-container .about__photo{
    border-radius: 50%;
    width: 100%;
    height: auto;
    opacity: 0.7;
    object-fit: contain;
    mix-blend-mode: lighten;
    /* position: relative; */
    /* z-index: 10; */
    
}
.about__content-inner-wrapper{
    text-align: left;
    background: rgba(53, 50, 50, 0.3);
}
.about .left .banner__contacts__link{
    margin-top:30px;
}
.about__content-inner-wrapper{
    padding:25px;
}
.about .left .about__content-inner{
    padding-bottom: 407px;
}
.about__content-inner-wrapper__title{
    font-family: var(--font-third);
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 38px;
    color:var(--yellow);
    margin-top: calc(-25px - (38px / 2) );
}
.about__content-inner-wrapper__paragraph{
    padding-top:43px;
    font-family: var(--font-second);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.about__leader__item__title{
    font-family: var(--font-third);
    font-weight: 400;
    font-size: 32px;
    line-height: 23px;
    color: var(--yellow);
}
.about__leader__item__paragraph{
    margin-top: 6px;
    font-family: var(--font-second);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: var(--white);
    opacity: 0.5;
}
.about__leader__item__socials{
    margin-top: 6px;
    font-family: var(--font-second);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: var(--yellow);
    text-decoration: none;
    display:inline-flex;
    align-items:center;
    column-gap:10px
}
.about__leader__item-inner__title{
    font-family: var(--font-second);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;


    color: var(--white);
}
.about__leader__item-inner{
    margin-top:11px;
    display: inline-flex;
    column-gap: 30px;
    align-items: center;
}
.about__leader__list{
    margin-top:47px;
    display:grid;
    row-gap: 30px;
}

@media screen and (max-width:1024px) {
    
    .about{
        grid-template-columns: auto;
        row-gap:94px
    }
    .about .left .about__content-inner{
        padding-bottom: 0px;
    }
    .about__content-inner{
        text-align: center;
    }
    .about__photo-container{
        display:none
    }
    .about-wrapper{
        padding-bottom:45px
    }
  
    .about__content-inner-wrapper__paragraph{
        padding-top: 63px;
    }
}
@media screen and (max-width:400px){
      .about__leader__item-inner{
        flex-direction: column;
        text-align: center;
    }
    .about__leader__item__title{
        text-align: center;
    }
    .about__leader__item__img-wrapper ~ div{
        padding-top:11px
    }
}

@media screen and (min-width:1025px) {
    .about-section{
        padding-top:19px;
    }
}



/* rarity */
.rarity{
    position: relative;
}
.rarity-wrapper{
    padding-bottom: 114px;
}
.rarity-inner{
    background: rgba(53, 50, 50, 0.3);
    padding:25px;
    /* padding: 77px 51px 57px; */
    
}
.rarity__title-wrapper{
    margin-top: calc(-25px - (38px / 2) );
}
.rarity__content{
    padding: 52px 26px 32px 56px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: calc(40% - 34px) calc(60% - 34px);
    column-gap: 65px;
    align-items: center;
}
.rarity__title{
    font-family: var(--font-third);
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 38px;
    color: var(--yellow);
}
.rarity__content-inner__title{
    font-family: var(--font-second);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */


    color: #FFFFFF;
}
.rarity__content-inner__paragraph{
    font-family: var(--font-second);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: #FFFFFF;

    opacity: 0.5;
}
.rarity__content-inner__img-wrapper{
    position: relative;
    display: inline-block;
    width: 60%;
    /* display: ; */
    /* width: calc(100% - 60px); */
}
.rarity__content-inner__img{
    width: 100%;
    height:auto
}
.rarity__content-inner.left{
    /* width: calc(40% - 34px); */
}
.rarity__content-inner.right{
    /* width: calc(60% - 34px); */
}
.rarity__content-inner__img-adds{
    position:absolute;
    
    border: 1px solid var(--yellow);
    z-index: -1;
}
.rarity__content-inner__img-adds.first{
    top: 50%;
    left:calc(100% - 78px);
    width: 82%;
    height: 85.85%;
    transform: translateY(-50%);
}
.rarity__content-inner__img-adds.second{
    left:50%;
    top: 15px;
    transform:translateX(-50%);
    width: 88.5%;
    height: 71.85%;
}
@media screen and (max-width:1024px) {
    .rarity__content{
        grid-template-columns: auto;
        row-gap: 27px;
    }
    .rarity__content-inner__img{
        max-height: 240px;
        width: auto;
    }
    .rarity__content-inner__img-wrapper{
        width: unset;
    }
    .rarity__content-inner.left{
        text-align: center;
        transform:translateX(-10vw)
    }
    .rarity__content{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 27px;
        padding-bottom: 0px;
    }
    .rarity-wrapper{
        padding-bottom: 20px;
    
    }
}
@media screen and (max-width:355px){
    .rarity__content-inner.left {
        transform: translateX(-14vw);
    }
}
@media screen and (min-width:1025px) {
    .rarity-section{
        padding-top:19px;
    }
}